.searchUser {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  .head {
    text-align: left;
    font-size: 36px;
  }
  .container {
    width: 80%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  .element {
    margin-left: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
