.settings {
  .rowC {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
  }
  .fiels {
    width: 40%;
    margin-left: 5%;
  }
  .sec {
    width: 40%;
    margin-left: 10%;
  }
  .sec input {
    padding: 0 0 23% 0;
  }

  .button {
    margin-top: 3%;
  }
  .radio {
    color: var(----font-color);
    margin-left: -30%;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .elementButton{
      height: 60px;
    }
    .button{
      width: 60%;
      
    }
  }
  
}
.container-s {
  text-align: center;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 30px;
}

.cropper {
  padding: 2%;
}


