.navbar
{
   background-color: var(--nav-bar-background-color);
   color: #f3f2ef;
   padding-left: 1%;
   height: 100%;
   
  transition: background-color 500ms linear;
   .photobank{ 
    font-size: 250%;
    font-weight: 1000;
   }
   .list
   {
    padding-left: 10%;
    .listHeader{
        font-size: 150%;
        font-weight: 900;
        }
   }
   

    .search{
        padding-left: 65%;
        font-size: 20px;
        height: 70%;

            .input{
                width: 30%;
                padding-left: 2%;
                background-color: rgba(252, 252, 252, 0.2);
                font-weight: 900;
                color: #48523d;
                border: none;
                border-radius: 10px;
            }
        }

}