.nav-container
{
   background-color: var(--nav-bar-background-color);
   color: #f3f2ef;
   
}

.nav{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    
}




.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #f3f2ef;
    margin: auto;
  }
  


  .logo-text{
    color: var(--button-text-color);
    font-size: 36px;
    font-weight: 600;
    
    background-color: #f3f2ef;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .nav-elements ul li {
    margin: auto;
    font-size: 16px;
    font-weight: 500;
    color: var(--button-text-color);
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
  }

  .nav-elements ul a {
    color: var(--button-text-color);
  }


  
  

