.gal{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
    text-align: center;
}

div.gallery {
	margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

div.gallery ul {
	list-style-type: none;
	margin-left: 35px;
}

div.gallery ul li {
	position: relative;
	float: left;
    width: 351px;
	height: 262px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}


/* Responsive hack */
@media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}