
.gallery {
    display: block;
    display: inline-block;
    margin: 5px;
    width: 300px;
  }
  
  .gal{
    display:flex; flex-direction:column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }



  