.auth
{
    
    .back
    {
        .input {
            margin-top: 2%;
            width: 80%;
            padding-left: 2%;
            background-color: #eceeeb;
            font-weight: 900;
            border: none;
            border-radius: 10px;
        }
    }    
}

/*.auth-page h3 {
    //background-color: #b6c9c3d9;
    color: var(--green-front);
    font-size: 50px;
    font-weight: 1000;
}*/

.auth button {
    margin-top: 10%;
    width: 90%;
    height: 10%;
    font-size: 25px;
    font-weight: 700;
}

