.auth
{
    background-color: #c4d3d3ff;
    .auth-page
    {
        background-color: #b6c9c3d9;
        width: 400px;
        height: 400px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: 30px;

        .login {
            width: 80%;
            padding-left: 2%;
            color: var(--green-front);
            background-color: #eceeeb;
            font-weight: 900;
            border: none;
            border-radius: 10px;
        }
        .pass {
            width: 80%;
            padding-left: 2%;
            color: var(--green-front);
            background-color: #eceeeb;
            font-weight: 900;
            border: none;
            border-radius: 10px;
        }

        
        
        
    }
}

.auth h3 {
    color: var(--green-front);
    font-size: 50px;
    font-weight: 1000;
}

.auth button {
    
    width: 90%;
    height: 10%;
    font-size: 25px;
    background-color: #6d9ea3ff;
    font-weight: 700;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

