.allPost {
  margin: auto;
  margin-top: 20px;

  .head {
    font-size: 24px;
    margin: 0%;
  }

  .one {
    .container {
      width: 777px;
      margin-left: 0;
      border-radius: 5px;
    }
    .under {
      font-weight: 700;
    }
    .city {
      margin-left: auto;
      margin-right: 0;
    }
.text{
  background-color: #000000;
}
.stat ul li
{
    display: inline-block;
    margin-right: 100px;
    .num{
      margin-top: -40px;
      margin-left: 80px;
    }
}
  }

  .post {
    width: 1300px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .textarea {
    width: 300px;
    height: 50px;
  }

  .second {
    width: 550px;
    padding: 1%;
  }

  .send {
    height: 50px;
    width: 50px;
  }

  .discription {
    text-align: left;
    word-wrap: break-word;
    padding: 1%;
  }
}

.h2 {
  color: var(--button-background-color);
}

.comment {
  display: flex;
  flex-direction: row;
}

.under {
  display: flex;
  flex-direction: row;
}



.comments ul {
  height: 550px;
  overflow: hidden;
  overflow-y: scroll;
  
  
  .container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    text-align: left;
    word-wrap: break-word;
  }
}



.like {
  fill: #ed6866;
}

.dislike,
.send {
  fill: var(--font-color);
}

.icon {
  margin-left: 1%;
  border: none;
  width: 50px;
  height: 50px;
  fill: var(--font-color);
  background-color: rgba($color: #000000, $alpha: 0);
  display: flex;
  flex-direction: row;
}
