.allPost {
  margin: auto;

  .post {
    width: 1360px;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
  }
  .textarea {
    width: 400px;
    height: 50px;
  }

  .button {
    width: 50px;
  }

  .second {
    width: 500px;
    margin-left: 10px;
  }

  .send {
    height: 50px;
    width: 50px;
  }

  .text {
    background-color: #000000;
    text-align: left;
    word-wrap: break-word;
  }
}

.first {
  flex-direction: column;
  align-items: center;
}



.headPost {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.stat {
  display: flex;
  flex-direction: row;
}

.h2 {
  color: var(--button-background-color);
}

.comment {
  display: flex;
  flex-direction: row;
}

.comments {
  text-align: left;
  word-wrap: break-word;
}

.user {
  margin-right: 80%;
}

.data {
  margin-right: 80%;
}

.under {
  display: flex;
  flex-direction: row;
}
.comments ul {
  height: 450px;
  width: 90%;

  margin-left: auto;
  margin-right: auto;
}
.comments ul {
  overflow: hidden;
  overflow-y: scroll;
}
.stats {
  text-align: left;
  margin-top: -20;
}

.back2 {
  box-shadow: #323235 0 10px 20px -10px;
  border: none;
  border-radius: 30px;
  padding: 1% 3% 1% 3%;
  word-wrap: break-word;
}

.like {
  fill: #ed6866;
}

.dislike,
.send {
  fill: var(--font-color);
}

.like,
.dislike,
.send {
  margin-left: 1%;
  writing-mode: vertical-lr;
  text-orientation: upright;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgba($color: #000000, $alpha: 0);
}
