.allPost {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 30px;

    .back {
        height: 850px;
        margin-top: 3%;
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
}

.first {
    flex-direction: column;
    align-items: center;

}

.one{
    margin-left: 2%;
}

.headPost {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    padding: 2%;

}

.stat {
    display: flex;
    flex-direction: row;
}


.second {
    width: 400px;
}

.comment {

    display: flex;
    flex-direction: row;
}

.comments {
    text-align: left;
    word-wrap: break-word;
}

.user{
    margin-right: 80%;
}

.data{
    margin-right: 80%;
}

.under{
    display: flex;
    flex-direction: row;
}
.comments ul{height:700px; width:90%;

    margin-left: auto;
    margin-right: auto;}
.comments ul{overflow:hidden; overflow-y:scroll;}
.stats{
   text-align: left;
   margin-top: -20;
}
.text{
    
    text-align: left;
    word-wrap: break-word;
}

.back2 {
    box-shadow: #323235 0 10px 20px -10px;
    border: none;
    border-radius: 30px;
    padding: 1% 3% 1% 3%;
    word-wrap: break-word;
    
}