.box {
  .head {
    font-size: 400%;
  }
  .back {
    width: 400px;
    height: 450px;
    .input {
      margin-top: 2%;
      width: 80%;
      padding-left: 2%;
      background-color: #eceeeb;
      font-weight: 900;
      border: none;
      border-radius: 10px;
    }
  }
  .link {
    color: var(--button-background-color) !important;
  }
}

.box button {
  margin-top: 5%;
  width: 90%;
  height: 10%;
  font-size: 25px;
  font-weight: 700;
}
