:root {
    --black-green-front: #48523d;
    --button-color: #6d9ea3ff;
    --white-back: #eceeeb;
    --back-color: #a2c1c3ff;
    --front-color: #d3d2cdff;
    --front-h2: #6d9ea3;
}

* {
    .button {
        background: var(--button-color);
        border-radius: 999px;
        box-shadow: #323235 0 10px 20px -10px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        opacity: 1;
        outline: 0 solid transparent;
        padding: 8px 18px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: fit-content;
        word-break: break-word;
        border: 0;

    }

    .head {
        background: rgba(255, 255, 255, 0);
        color: var(--black-green-front);
        font-weight: bold;
        font-size: 400%;
    }

    .city {
        margin-top: 2%;
        width: 80%;
        padding-left: 2%;
        font-weight: 900;
        box-sizing: border-box;
        
    }

    .error {
        background: rgba(255, 255, 255, 0);
        color: var(--black-green-front);
    }

    .back {
        background-color: rgba(236, 236, 236, 0.20);
        box-shadow: #323235 0 10px 20px -10px;
        
        
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border: none;
        border-radius: 30px;

    }

    .link
    {
        margin-top: 2%;
        background: rgba(255, 255, 255, 0);
        color: var(--black-green-front);
        font-weight: bold;
        font-size: 150%;
        
    }
}