//Назначаем цвет фона
html {
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

//Фон для регистрации и входа
.background {
  height: 100vh;
  width: 100vw;
  background-color: var(--back-1);
  background-image: linear-gradient(-2deg, var(--back-4) 15%, transparent 15%),
    linear-gradient(4deg, var(--back-3) 45%, transparent 45%),
    linear-gradient(-7deg, var(--back-2) 70%, transparent 70%);
}

//Полоса прокрутки
*::-webkit-scrollbar {
  width: 10px; /* ширина всей полосы прокрутки */
}

*::-webkit-scrollbar-track {
  background: var(--back-2); /* цвет зоны отслеживания */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--button-background-color); /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
}

//Simple кнопка
.button {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-radius: 999px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

//Назначаем стиль для заголовков
.head {
  color: var(--main-front);
  font-weight: bold;
  font-size: min(3vw, 30px);
}


.hr {
  border: none;
  background-color: var(--button-background-color);
  color: var(--button-background-color);
  height: 7px;
  width: 98%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

//
.back {
  background-color: var(--background-color);
  box-shadow: #323235 0 10px 20px -10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 30px;
}

.container {
  background-color: var(--background-color);
  box-shadow: #323235 0 10px 20px -10px;
  border: none;
  border-radius: 30px;
  padding: 0% 1%;
  margin: 0% 0% 1%;
}

//Окна ввода
.input {
  background-color: var(--input-background) !important;
  color: var(--font-color) !important;
  border: none !important;
  border-radius: 10px !important;
}

//Окна ввода - textarea
.textarea {
  resize: none;
  background-color: var(--input-background);
  font-size: 17px;
  padding: 2% 2% 2% 2%;
  border: var(--input-background);
  border-radius: 10px;
}

//Колесо загрузки
.loader {
  border: 20px solid var(--font-color);
  border-top: 20px solid var(--button-background-color);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

//Анимация колеса
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Сообщение о ошибке
.errorMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 20%;
  border-radius: 10px;
  font-size: 20px;
  background-color: var(--back-1);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--font-color);
  font-weight: 700;
}


.addPost {
  .container {
    margin-top: 1%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    .description {
      margin-top: 2%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 900;
      border: none;
      border-radius: 10px;
    }

    .button {
      margin-top: 5%;
      width: 90%;
      height: 10%;
      font-size: 25px;
      font-weight: 700;

      margin-left: 5%;
    }
  }
  .photo {
    width: 300px;
    height: 350px;
  }
}
