html {
  background-color: var(--background-color);
  //transition: background-color 1000ms linear;
}

*{
  color: var(--font-color);
}

.button{
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    //transition: color 500ms linear, background-color 500ms linear;
    border-radius: 999px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.head {
    color: var(--main-front);
    font-weight: bold;
    font-size: 400%;
}


.city {
    margin-top: 2%;
    width: 80%;
    padding-left: 2%;
    font-weight: 900;
    box-sizing: border-box;
  
  }
  
  .error {
    background: rgba(255, 255, 255, 0);
    color: var(--main-front);
    margin-top: 2%;
  }
  
  .back {
    background-color: rgba(236, 236, 236, 0.20);
    box-shadow: #323235 0 10px 20px -10px;
  
  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 30px;
  
  }
  
  .container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 30px;
  }


  .link {
    margin-top: 2%;
    background: rgba(255, 255, 255, 0);
    color: var(--main-front);
    font-weight: bold;
    font-size: 150%;
  
  }

  .input {
    background-color: var(--input-background) !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.dropdown-container {
  text-align: left;
  border: 1px solid;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  
  background-color: var(--input-background);
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  
  background-color: var(--input-background);
}

.dropdown-menu{
  position:absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
  max-height: 150px;
  
  background-color: var(--input-background);
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
  background-color: var(--input-background);
}

.dropdown-item:hover{
  background-color: var(--icon-color);
}

.search-box {
  padding: 5px;
}
.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}