.navbar
{
   background-color: #6d9ea3ff;
   color: #f3f2ef;
   padding-left: 10%;
   .photobank{ 
    font-size: 35px;
    
    font-weight: 1000;
   }
   .list
   {
    padding-left: 25%;
    .listHeader{
        font-size: 20px;
        font-weight: 900;
        }
   }
   

    .search{
        padding-left: 65%;
        font-size: 20px;
        height: 70%;

            .input{
                width: 30%;
                padding-left: 2%;
                background-color: rgba(252, 252, 252, 0.2);
                font-weight: 900;
                color: #48523d;
                border: none;
                border-radius: 10px;
            }
        }
}