.navbar
{
   background-color: #6d9ea3ff;
   color: #f3f2ef;
   padding-left: 20 px;
   .photobank{ 
    font-size: 35px;
    
    font-weight: 1000;
   }
   .listHeader{
    
    font-size: 20px;
    
    font-weight: 900;
    }

    .search{
        float: right;
        color: #48523d;
        background-color: rgba(252, 252, 252, 0.2);
        font-weight: 900;
        width: 30 px;
        }
}