.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second {
    border: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: #323235 0 10px 20px -10px;
    border: none;
    border-radius: 30px;
    width: 600px;

    
}
.text {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.user {
    font-size: 300%;
    color: var(--front-h2);
    padding: 2% 2% 0% 2%;
    
}

.h2 {
    color: var(--front-h2);
    
}

.back2 {
    box-shadow: #323235 0 10px 20px -10px;
    border: none;
    border-radius: 30px;
    padding: 1% 3% 1% 3%;
    margin: 3% 0% 0% 0%;
}



.sub {
    box-shadow: #323235 0 10px 20px -10px;
    border: none;
    border-radius: 30px;
    padding: 1% 3% 1% 3%;
}

.button {
    
    margin: 3% 0% 3% 0%;
    width: 90%;
}

.img{
    
    height: 240px;
    width: 240px;
}