.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .img{
        max-width: 250px;
        max-height: 250px;
        width: 30vw;
        height: 30vw;
    }
    .second{
        width: 50vw;
        max-width: 700px;
    }
    .head{
        font-size: 16px;
    }
    .city{
      margin-left: auto;
      margin-right: 0;

    }
    .button {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .container{
        margin-bottom: 2%;
    }
}

.header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.first {
    margin-right: 3%;
}


.text {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.user {
    font-size: 300%;
    color: var(--front-h2);
    padding: 2% 0% 0% 5%;
}
