.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .img {
    max-width: 250px;
    max-height: 250px;
    width: 30vw;
    height: 30vw;
  }
  .second {
    width: 50vw;
    max-width: 700px;
    .container {
      width: 100%;
    }
  }
  .head {
    font-size: 16px;
  }
  .city {
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
  }
  .button {
    width: 100%;
  }
  .container {
    margin-bottom: 2%;
    padding: 6px;
  }
  .AnotherPage {
    display: flex;
    .button {
      min-width: 60px;
    }
    .container {
      max-width: 78%;
    }
  }
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.first {
  margin-right: 3%;
}

.text {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  overflow-wrap: break-word;
}

.user {
  font-size: 3vw;
  color: var(--font-color);
  padding: 2% 0% 0% 5%;
}
