.addPost
{
  

  .container
  {
    
    margin-top: 1%;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    .description {
      margin-top: 2%;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 900;
      border: none;
      border-radius: 10px;
    }

    .button {
      margin-top: 5%;
      width: 90%;
      height: 10%;
      font-size: 25px;
      font-weight: 700;
      
      margin-left: 5%;
    }
  }
  .photo
  {
    width: 300px;
    height: 350px;
  }
}



